//@import (less) "/node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";
//@import (less) "/node_modules/powerbi-visuals-utils-chartutils/lib/index.css";

.calendarRoot {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    color: #255A91;
    font-family: 'Calibri', sans-serif;

    //.calendarSvg {
       // display: none;
    //}

    .dropDownContainer {
        //margin-right: 10px;
        //width: 2px;
        
        .dateRangeDropdown {
            height: 30px;
            width: 180px;
            font-size: 12px;
            //padding: 4px;
            color: #255A91;
        }

        select {
            cursor: pointer;
        }
    }
    

    .customDateContainer { 
        align-items: center;
        
        .dateInputContainer {
            display: flex;
            
            .startDateInputContainer, .endDateInputContainer {
            position: relative;
            display: inline-block;
            margin-right: 8px;

                input {
                    width: 100px;
                    height: 30px;
                    font-size: 12px;
                    color: #255A91;
                    box-sizing: border-box; 
                    padding-right: 30px;
                }
                .calendarIcon {
                    position: absolute;
                    transform: translateY(-50%);
                    right: 5px;
                    top: 50%;
                    font-size: 12px;
                    //width: 16px;
                    //height: 16px;
                    //vertical-align: middle;
                    //margin-left: 4px;
                    cursor: pointer;
                    user-select: none;
                }
            }
        }
    }

        .containerLabel {
            display: block;
            font-size: 14px;
            margin-bottom: 20px;
        }

    .disabled {
        opacity: 0.5;
    }
}